@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject YamlStringLocalizer YamlLocalizer

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Stellaris Ledger</title>
	<link href="~/content/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/content/site.css" rel="stylesheet" />
	<link rel="icon" href="/images/201651110503698942.png" type="image/png" />
	<link rel="shortcut icon" href="/images/201651110503698942.png" type="image/png" />
	@RenderSection("head", false)
</head>
<body>
	@await Html.PartialAsync("_UseStorageNotification")

	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand">Stellaris Ledger</span>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString()=="Home" && ViewContext.RouteData.Values["action"].ToString() == "Index"?"active":null)">
					<a class="nav-link" asp-controller="Home" asp-action="Index">@Localizer["Statistics"]</a>
				</li>
				<li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString()=="Factions" && ViewContext.RouteData.Values["action"].ToString() == "Index"?"active":null)">
					<a class="nav-link" asp-controller="Factions" asp-action="Index">@YamlLocalizer["FACTIONS"]</a>
				</li>
				<li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString()=="Planets" && ViewContext.RouteData.Values["action"].ToString() == "Index"?"active":null)">
					<a class="nav-link" asp-controller="Planets" asp-action="Index">@YamlLocalizer["PLANETS"]</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid body-content">
		@RenderBody()
		<hr />
		<footer>
			<p><a href="https://github.com/gqqnbig/StellarisLedger" target="_blank">群星统计器・极</a> by <a target="_blank" href="https://gqqnbig.me">https://gqqnbig.me</a></p>
		</footer>
	</div>

	@RenderSection("Scripts", required: false)
</body>
</html>
